<% content_for :title do %>
    : Products
<% end %>
<h1>Page#products</h1>
<p>Find me in app/views/page/products.html.erb</p>

<p><%= @month + ', ' + @year %> Products</p>

<ol>
<% @products.each do |product| %>
    <li><%= product.titleize %></li>
<% end %>
</ol>